<% if comment.id %>
  
<li>
  <a href="#">
  </a>
   <%= gravatar_for comment.user, size: 52%>
    
  <span class="text"><%= comment.user.name %></span></br>
  <span class="text"><%= comment.text %></span>
  <span class="timestamp">
    Posted <%= time_ago_in_words comment.created_at %> ago.
  </span>

</li>

<%end%>